	
{% load staticfiles %}
 
<footer class="footer-minimal">
            <div class="container">
                <nav>
                    <ul class="list-unstyled list-inline margin-bottom-30px">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Terms &amp; Condition</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </nav>
                <ul class="list-inline social-icons social-icons-circle">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <p class="copyright-text">Designed &amp; Crafted by <a href="https://www.themeineed.com/" target="_blank">The Develovers</a></p>
            </div>
        </footer>

