{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Application Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free landing page website template">
    <meta name="author" content="The Develovers">

    <!-- CORE CSS -->
    <link rel="stylesheet" href="static/new/assets/css/base.css" />
    <script type="text/javascript" src="{% static 'new/assets/js/init.js' %}"></script>
    <link href="{% static 'new/assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'new/assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    
    <!-- THEME CSS -->
    <link href="{% static 'new/assets/css/main.css' %}" rel="stylesheet" type="text/css">
    
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CRoboto:300,400,700" rel="stylesheet">
    
    <!-- FAVICONS -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'new/assets/ico/landee144.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'new/assets/ico/landee114.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'new/assets/ico/landee72.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'new/assets/ico/landee57.png' %}">
    <link rel="shortcut icon" href="{% static 'new/assets/ico/favicon.ico' %}">
</head>